<section id="button-panel">

  <h1>Welcome</h1>

  <p>You've checked in to <%= current_user.surveys.last.event.name %> and earned yourself 20 points!</p>

  <p>To earn more, don't forget to check out once the event is over!</p>

</section>