<section id="button-panel">

  <h1>Welcome</h1>

  <p>Because you've checked in to <%= current_user.surveys.last.event.name %> we've given you 20 points!</p>

  <p>To earn more, don't forget to check out once the event is over.</p>

</section>