<section id="button-panel">

  <h1>See You Soon</h1>

  <p>To thank you for completing our post-event survey we've awarded you with 40 points!</p>

  <p>To earn more, don't forget to attend the next event.</p>

</section>