<section id="button-panel">

  <h1>Thanks for coming!</h1>

  <p>You've checked out of <%= current_user.surveys.last.event.name %> and earned yourself 40 points!</p>

  <p>To earn more, don't forget to attend the next event!</p>

</section>