<section id="hero-banner">
  <h3>You've earned</h3>
  <h2><%= current_user.points %> pts</h2>
</section>

<section id="button-panel">
  <%= link_to "check in", '/checkin', class: "btn blue" %><br/>
  <%= link_to "check out", '/checkout', class: "btn blue" %>
</section>