/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 80px;
}

a {

}

.navbar {
  height: 80px;
  background-color: #2a3948;
  border-color: #2a3948;
  border-radius: 0px;
  text-align: center;
}

#signout-link img {
  float: right;
  height: 40px;
  width: 40px;
  margin-top: 20px;
  margin-right: 20px;
}

#profile-section {
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
}

#profile-pic img {
  width: 40px;
  height: 40px;
}

#username-link {
  color: #d8d0c6;
  font-weight: bold;
}

#home-link img {
  float: left;
  height: 26px;
  width: 35px;
  margin-top: 25px;
  margin-left: 20px;
}

#button-panel {
  text-align: center;
}

#button-panel a {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

#button-panel .btn {
  width: 200px;
  height: 50px;
  background-color: #28899b;
  margin-top: 35px;
}